.centerStart{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #ddd;
}
#h1{
    color:#ED6421;
    font-family: "Microsoft yahei";
    font-weight:700;
    position: absolute;
    left:36%;
    top:50%;
    transform:rotate(-10deg);
}
#h4{
    color:#666;
    font-weight:bold;
}
.money {
    color: #E4393C;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
#list{
    border:1px solid #DDD;
    border-radius: 5px;
    padding:15px;
    margin:15px;
}
#border{
    margin:15px;
}
.bold{
    font-weight:bold;
}
#border .row{
    border:1px solid #ddd;
    margin-top:0px;
    padding:0;

}
.border_top{
    border-top: none;
    padding-top:10px;
}
.p{
    padding:5px;
    border-bottom: 1px solid #ddd;
}

